*{

    padding: 0;
    margin: 0;  
}



.heading{
    display: flex;
    justify-content: center;
}

#containerSer{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;

}



#containerSer div{
    height: 100%;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #faedcd;
    border-radius: 30px;
    padding-top: 20px;

}

#containtainerSer img:hover{
    border: 1px solid #777;
}

#containerSer h1{
    padding: 20px;
}

#containerSer p{
    padding-bottom: 30px;
}
#containerSer img{
    height: 300px;
    width: 300px;
}

.title{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ccd5ae; 
    align-items: center;
    padding-top: 40px;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ccd5ae; 
    align-items: center;
    padding: 20px;
}

.navbar img{
    width: 80px;
    height: 60px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
.nav ul li a:hover{
    color: rgb(240, 248, 248);
    transition: 0.5s;
}
/*
.footer{
    background-color: #ccd5ae;
    padding: 30px;
}

.footer ul li{
    list-style: none;
    padding: 0 10px;
}
.footer ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
}*/
.footer{
    background-color: #ccd5ae;
    padding: 30px;
display: flex;
justify-content: space-between;

}

.footer p{
  font-size: 15px;
}

footer ul{
  display: inline;
}


.footer ul li{
    list-style: none;
    padding: 0 10px;
    display: inline-block;
    align-content: center;

}
.footer ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    cursor: pointer;
}


